<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abk.afsdk">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USB_PERMISSION" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application>
        <activity android:name="com.faithiot.qrcode.activity.CaptureActivity" />
        <activity
            android:name=".Camera2Activity"
            android:exported="false"
            android:screenOrientation="portrait" />

    </application>
</manifest>
